/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.background {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  background-color: rgb(42, 77, 138);
  place-self: center;
  place-items: center;
  justify-content: space-evenly;
}

.header {
  display: flex;
  place-items: center;
  gap: 10px;
}

.cell_header {
  align-self: center;
  width: 45px;
  height: 45px;
  background-color: rgb(202, 34, 129);
  border-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  padding: 4px;
  background-color: rgb(184, 193, 209);
  border-radius: 3px;
}

.cell {
  border-radius: 2px;
  width: 35px;
  height: 35px;
  /* background-color: white; */
  /* outline: 1px solid rgba(144, 175, 175, 0.75); */
  background-color: rgb(66, 72, 82);
  /* display: inline-block; */
}

.cell:hover {
  background-color: rgb(116, 126, 143);
}

.secret {
  background-color: rgb(202, 34, 129);
  transform: scale(1.5);
  border-radius: 3px;
}

.standard_cell {
  background-color: rgb(226, 198, 155);
  text-align: center;
  place-content: center;
  /* font-size: 25px; */
  font-weight: bold;
  color: rgb(187, 160, 122);
}

.scale {
  transform: scale(1.2);
}
