/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.background {
  padding: 50px 0 ;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  background-color: rgb(42, 77, 138);
  place-self: center;
  place-items: center;
  justify-content: space-evenly;
  
}

.header {
  display: flex;
  place-items: center;
  gap: 10px;
}

.cell_header {
  align-self: center;
  width: 45px;
  height: 45px;
  /* background-color: rgb(202, 34, 129); */
  border-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
width: 80%;
  padding: 4px;
  background-color: rgb(184, 193, 209);
  border-radius: 3px;
  box-shadow: 1px 1px 20px black;
}

.cell {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  background-color: rgb(66, 72, 82);
  box-shadow: 0.5px 0.5px 1px black;
}

.cell:hover {
  background-color: rgb(116, 126, 143);
}

.secret {
  transform: scale(5) translate(0%,0%);
  
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 1px black;
  
  transition: transform 2s ;
}

.text {
    color: white;
    margin:0; 
    font-size: 35px; 
    font-family: Gill Sans, sans-serif; 
    font-weight: bold;
    justify-self: center
}

.red_text {
    color: rgb(222, 92, 95); 
}

.yello_text {
    color: rgb(252, 210, 79);
}
.isGameOver {
    transition-timing-function:'cubic-bezier(0.5, 1, 0.5, 0.5)';
    transition: transform 2s; 
    transform: scale(1.07);
    color: rgb(4, 241, 68);
}

/* transform: `${isGameOver?'scale(1.07) translate(0%,0%)':null}`; 
color: `${!isGameOver? 'rgb(252, 210, 79)': 'rgb(4, 241, 68)'}`;  */

.standard_cell {
  background-color: rgb(226, 198, 155);
  text-align: center;
  place-content: center;
  font-weight: bold;
  color: rgb(187, 160, 122);
  box-shadow: 0.5px 0.5px 1px black;
}

.scale {
  transform: scale(1.2);
}
